<!DOCTYPE html>
<html>
<header>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='Layout.css') }}">
    {% if title %}
        <title> MovieDB - {{ title }}</title>
    {% else %}
        <title> MovieDB </title>
    {% endif %}


    {% if posts[0] %}
    <div class="card-group">
        {% for x in range(0,12) %}
      <div class="card">
        <img src="{{ posts[ range(0, posts|length) | random ].thumbnail }}" class="card-img-top" alt="Card image">
      </div>
          {% endfor %}
    </div>
    {% endif %}

</header>

<nav>
    {% include "Layout/NavBar.html" %}
</nav>



<body>

    {% with messages = get_flashed_messages(with_categories=false) %}
        {% if messages %}
        <div>
            {{ messages }}
        </div>
        {% endif %}
    {% endwith %}


    {% block content %} {% endblock %}

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>