<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index') }}">Movie Database</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('update') }}">Update <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-toolbar btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                {% include "Layout/Option.html" %}
            </div>
        </div>
    </form>
  </div>
</nav>
