.headerimg {
  background-color:black;


}

.True{
border-style: solid;
border-color: green!important;
}

.False{
border-style: solid;
border-color: red!important;
}

.divimg{
    width:200%;
    height: auto;
 }



.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 10;
  }
  @include media-breakpoint-only(md) {
    column-count: 8;
  }
  @include media-breakpoint-only(lg) {
    column-count: 6;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}