{% extends "Layout/Layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ AddMovie.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Edit Movie</legend>
        <div class="form-group">
          {{ FindMovie.Title.label(class="form-control-label") }}
          {{ FindMovie.Title(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
          {{ FindMovie.Year.label(class="form-control-label") }}
          {{ FindMovie.Year(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
          {{ FindMovie.ImdbID.label(class="form-control-label") }}
          {{ FindMovie.ImdbID(class="form-control form-control-lg") }}
        </div>
      </div>
    </fieldset>


    <div class="form-group">
      {{ FindMovie.Search(class="btn btn-outline-info") }}
    </div>

   <div class="list-group">
      {% for movie in movies %}
      {{ AddMovie.Select(class="btn btn-outline-info", value=movie.title~" ( "~movie.year~" )"~" - "~movie.movieID ) }}
      {% endfor %}
    </div>
  </form>
</div>
{% endblock content %}