{% if posts[0] %}
<div class="container-fluid" data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
     {% for posts_row in posts | batch(12) %}
        <div class="row">
            {% if loop.index == 1 %}
            <div class="col-md-1  float-left">
                <a href="{{ url_for('addmovie') }}">
                    <img class="img-thumbnail divimg rounded img-fluid" src="{{ url_for('static', filename='images/NewMovie.svg') }}" alt="Add Movie">
                </a>
            </div>
            {% endif %}

        {% for post in posts_row %}
              <div class="col-md-1  float-left">
                <a href="{{url_for('movie', id=post.ID, **post)}}">
                    <img class="img-thumbnail divimg rounded img-fluid " src="{{ post.thumbnail }}" alt="Card image cap" >
                </a>
              </div>
         {% endfor %}
        </div>
        {% endfor %}
</div>
{% else %}
<div class="container-fluid" data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
        <div class="row">
            <div class="col-md-1  float-left">
                <a href="{{ url_for('addmovie') }}"">
                    <img class="img-thumbnail divimg rounded img-fluid" src="{{ url_for('static', filename='images/NewMovie.svg') }}" alt="Add Movie">
                </a>
            </div>
        </div>
</div>
{% endif %}