{% extends "Layout/Layout.html" %}

{% block content %}

<div class="container float-left">
  <div class="row">
    <div class="col-sm">
        <h1>{{Movie.title}}</h1>
    </div>
    <div class="col-sm">
        <a class="btn btn-primary"  href="{{ url_for('editmovie', oldid=Movie.id) }}">Edit Movie</a>
    </div>
    <div class="col-sm">
        <a class="nav-link" href="{{ url_for('deletemovie', id=Movie.id) }}">Delete Movie</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
        <img class="" src="{{ Movie.thumbnail }}" alt="Card image cap" >
    </div>
    <div class="col-sm">
        {{ Movie.resume }}
    </div>
  </div>
</div>

{% endblock content %}